---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
  
body {
  font-family: 'Roboto', sans-serif;
  background-color: #d9d9d9;
}

.logo-container {
  flex-shrink: 0; /* Ensures the logo doesn't shrink when resizing */
}

.site-logo {
  max-height: 60px; /* Adjust this value based on how tall you want the logo */
}
.site-logo:hover {
  background-color: #ffc844;;
}

a {
  color: #424242;
  text-decoration: none;
}

a:visited {
  color: #424242;
}

a:hover {
  color: #111;
  text-decoration: none;
  font-style: italic;
  background-color: #ffc844;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  background-color: #f2f2f2;
}

nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 150px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

nav ul li:hover .dropdown-menu {
  display: block;
}
